* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #290a0a;

}

/* TYPOGRAPHY */
h2 {
    border-left: 10px solid pink;
    padding-left: 10px;
    margin-bottom: 2em;
}


.my-name {
    font-family: inherit;
    font-weight: 400;
    font-size: 4rem;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.2);
}

.my-title {
    font-size: 1.5rem;
    font-weight: 400;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.2);
}


.bottom-text {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;  

}

/* .bottom-author {
    font-size: 1rem;
    text-align: center;
   
} */

p {
    font-size: 1.5rem;
    letter-spacing: 1px;
    line-height: 1.6;
}

/* .lets-meet {
    padding-top: 4em;
    padding-bottom: 2em;
} */

/* HEADER */

header {
    background-image: linear-gradient(rgba(226, 217, 217, 0.1),rgba(192, 32, 125, 0.5)), url("Images/evieshaffer.jpg");
    background-size: cover;
    background-position: center;
    min-height: 90vh;
    background-attachment: fixed;

}


/* NAVIGATION SECTION */

.nav-container {
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
    padding-top: 1.5em; /*how far nav-container from top*/
    display: flex;
    justify-content: flex-end;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-left: 5em; /*space between nav links*/
    padding: 0.5em; /*thickness of nav buttons*/
    border-bottom: 2px solid #290a0a;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #290a0a;
    font-weight: 500;
    font-size: 1.25rem;
    /* padding: .25em 0; */
}

nav a:hover,
nav a:focus {
    color: #ffb3c1;
}



/* THIS AREA NEEDS FIXING!!!! */
.name-area {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgba(245, 245, 245, 0.2);
    border-radius: 10px;
    box-shadow: 0 5px 15px 0 rgba(245, 245, 245, 0.3);
    backdrop-filter: blur(10px);
    border: 2px solid transparent;
    text-align: center;
    margin-top: 5em;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.bottom-area {
    padding-top: 5rem;
    max-width: 1200px;
    margin: 0 auto;
}


/* @media (max-width: 500px) {
    .name-area {
        margin-top: 1em;
    }
} */


.about-me {
    background-color: white;
    border: 3px solid gold;
    padding: 5em 0 5em 0;
}

.about-me-info {
    border: 3px solid teal;
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 2em;
}



/* FORM AREA WITH ITS TYPOGRAPHY */
.form-area {
    background-color: #a7a0ab;
}

form {
    display: flex;
    flex-direction: column;  
    max-width: 400px;
    margin: 0 auto;
    width: 90%; 
}

.form-text {
    padding-top: 3em;
    text-transform: uppercase;
    font-weight: 500;
}

.smedia-icons {
    margin: 3em;
} 

input,
textarea {
    border-radius: 50px;
    border: 0;
    outline: none;
}

input {
    margin-bottom: 3em;
    padding: 2em;
    text-align: inherit;
    font-family: inherit;
    font-weight: 500; 
}

.submit-btn {
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 1em 2em;
    cursor: pointer;
    background-color: #756c7a;
    color: #fcf6f5;
    border: 0;
    outline: none;
    margin-bottom: 4em;
}  

.submit-btn:hover,
.submit-btn:focus {
    background-color: #ffb3c1;
    color: #290a0a;
    font-weight: 700;
}

textarea {
    height: 250px;
    resize: none;
    padding: 2em;
    margin-bottom: 3em;
    font-family: inherit;
}

.skill-icons {
    border: 3px solid pink;
    max-width: 1000px;
    width: 90%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.icon {
    border: 3px solid fuchsia;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px;
    padding: 30px;
    margin: 10px;
}
.img-icon {
    border: 3px solid tomato;
    width: 50px;
}

@media screen and (max-width: 780px) {
}