* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #290a0a;

}

/* TYPOGRAPHY */
h2 {
    border-left: 10px solid #e60073;
    padding-left: 10px;
    margin-bottom: 2em;
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
    padding-bottom: 0.25em;
}


.my-name {
    font-family: inherit;
    font-weight: 400;
    font-size: 4rem;
    color: #e60073;
    text-shadow: 2px 4px 3px rgba(226, 216, 216, 0.2);
}

.my-title {
    font-size: 1.5rem;
    font-weight: 400;
    color: whitesmoke;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.2);
}


.bottom-text {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;  

}

/* .bottom-author {
    font-size: 1rem;
    text-align: center;
   
} */

p {
    font-size: 1.2rem;

}

/* .lets-meet {
    padding-top: 4em;
    padding-bottom: 2em;
} */

/* HEADER */

header {
    /* background-image: linear-gradient(rgba(226, 217, 217, 0.1),rgba(192, 32, 125, 0.5)), url("Images/evieshaffer.jpg"); */
    background-size: cover;
    background-position: center;
    min-height: 90vh;
    background-attachment: fixed;
    background-image: url("https://images.unsplash.com/photo-1610303871783-491dc6d0a165?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80");

}


/* NAVIGATION SECTION */

.nav-container {
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
    padding-top: 1.5em; /*how far nav-container from top*/
    display: flex;
    justify-content: flex-end;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-left: 5em; /*space between nav links*/
    padding: 0.5em; /*thickness of nav buttons*/
    border-bottom: 2px solid #e60073;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    /* color: #290a0a; */
    color: #e60073;
    font-weight: 500;
    font-size: 1.25rem;
    /* padding: .25em 0; */
}

nav a:hover,
nav a:focus {
    /* color: #ffb3c1; */
    color: white;
}



/* THIS AREA NEEDS FIXING!!!! */
.name-area {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgba(245, 245, 245, 0.2);
    border-radius: 10px;
    box-shadow: 0 5px 15px 0 rgba(245, 245, 245, 0.3);
    backdrop-filter: blur(7px);
    border: 2px solid transparent;
    text-align: center;
    margin-top: 5em;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.bottom-area {
    padding-top: 5rem;
    max-width: 1200px;
    margin: 0 auto;
}


/* @media (max-width: 500px) {
    .name-area {
        margin-top: 1em;
    }
} */


.about-me {
    background-color: white;
    padding: 5em 0 5em 0;
}

.about-me-info {
    max-width: 90%;
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 2em;
}



/* FORM AREA WITH ITS TYPOGRAPHY */
.form-area {
    background-color: #a7a0ab;
}

form {
    display: flex;
    flex-direction: column;  
    max-width: 400px;
    margin: 0 auto;
    width: 90%; 
}

.form-text {
    padding-top: 3em;
    text-transform: uppercase;
    font-weight: 500;
}

.smedia-icons {
    margin: 3em;
} 

input,
textarea {
    border-radius: 50px;
    border: 0;
    outline: none;
}

input {
    margin-bottom: 3em;
    padding: 2em;
    text-align: inherit;
    font-family: inherit;
    font-weight: 500; 
}

.submit-btn {
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 1em 2em;
    cursor: pointer;
    background-color: #756c7a;
    color: #fcf6f5;
    border: 0;
    outline: none;
    margin-bottom: 4em;
}  

.submit-btn:hover,
.submit-btn:focus {
    background-color: #ffb3c1;
    color: #290a0a;
    font-weight: 700;
}

textarea {
    height: 250px;
    resize: none;
    padding: 2em;
    margin-bottom: 3em;
    font-family: inherit;
}

.skill-icons {
    max-width: 1000px;
    width: 90%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px;
    padding: 30px;
    margin: 10px;
}
.my-work {
    width: 1000px;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 2em;
}

.work {
    padding: 5em 0 5em 0;
    background-color: #d9d9d9;
}
.work-info {
    width: 1000px;
    max-width: 90%;
    margin: 0 auto;
    padding-bottom: 2em;
}

.projects-section {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-bottom: 2em;
}

.project-name {
    font-weight: 600;
    margin-top: 0.5em;
}

.project-buttons { 
    padding-top: 0.5em;
}

.live-btn,
.code-btn {
    border: 2px solid #e60073;
    padding: 0.5em 2em;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.1)
}

.live-btn:hover,
.live-btn:focus,
.code-btn:hover,
.code-btn:focus {
    background-color: #333333;
}

.code-btn:hover,
.code-btn:focus {
    color: white;
}

#wordpress-project-buttons {
    margin: 0.5em 0;
}


.live-btn {
    margin-right: 0.5em;
    background-color: #e60073;
    color: white;
}

.code-btn {
    background-color:#cccccc;
    color: #262626;
}



.stack-area {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0.5em 0;
}

.stack-description {
    padding: 0.2em 0.4em;
    border-radius: 5px;
    font-weight: 500;

}

.project-description,
.stack-description {
    font-size: 0.75rem;
}

.project-card {
    width: 400px;
    padding: 30px;
    margin: 20px;
    background-color: #cccccc;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.2) 
}

.cocktail-img {
    width: 100%;
}

.img-icon {
    width: 50px;
}

@media screen and (max-width: 780px) {
}