* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #290a0a;

}

/* TYPOGRAPHY */
h2 {
    border-left: 10px solid #e60073;
    padding-left: 10px;
    margin-bottom: 2em;
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
    padding-bottom: 0.25em;
}

p {
    font-size: 1.2rem;
}

/* HEADER */
header {
    /* background-image: linear-gradient(rgba(226, 217, 217, 0.1),rgba(192, 32, 125, 0.5)), url("Images/evieshaffer.jpg"); */
    background-size: cover;
    background-position: center;
    min-height: 90vh;
    background-attachment: fixed;
    background-image: url("https://images.unsplash.com/photo-1610303871783-491dc6d0a165?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80");

}

/* NAVIGATION SECTION */
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 10vh;
    width: 1500px;
    max-width: 90%;
    margin: 0 auto;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.25rem;
    color: #e60073;
    font-weight: 500;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

nav li {
    margin-left: 5em;
    border-bottom: 2px solid #e60073;
    padding: 0.25em; 
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #e60073;
    font-weight: 500;
    font-size: 1.25rem;
} 

nav a:hover,
nav a:focus {
    color: white;
}


/* MY NAME AREA */
.name-area {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgba(245, 245, 245, 0.2);
    border-radius: 10px;
    box-shadow: 0 5px 15px 0 rgba(245, 245, 245, 0.3);
    backdrop-filter: blur(7px);
    border: 2px solid transparent;
    text-align: center;
    margin-top: 5em;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name-area h1 {
    font-weight: 400;
    font-size: 4rem;
    color: #e60073;
    text-shadow: 2px 4px 3px rgba(226, 216, 216, 0.2);
}

.name-area p {
    font-size: 1.5rem;
    font-weight: 400;
    color: whitesmoke;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.2);
}


/* ABOUT ME SECTION */
.about-me {
    padding: 5em 0 5em 0;
}

.about-me-info {
    max-width: 90%;
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 2em;
}

/* SKILLS ICONS */
.skill-icons {
    max-width: 1000px;
    width: 90%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px;
    padding: 30px;
    margin: 10px;
}

.img-icon {
    width: 50px;
}

/* MY WORK AREA */
.work h2,
.form h2 {
    width: 1000px;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 2em;
}

.work {
    padding: 5em 0 5em 0;
    background-color: #d9d9d9;
}

.work-info {
    width: 1000px;
    max-width: 90%;
    margin: 0 auto;
    padding-bottom: 2em;
}

.projects-section {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-bottom: 2em;
}

.project-card {
    width: 400px;
    padding: 30px;
    margin: 20px;
    background-color: #cccccc;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.2) 
}

.project-img {
    width: 100%;
}

.project-description,
.stack-description {
    font-size: 0.75rem;
}

.project-name {
    font-weight: 600;
    margin-top: 0.5em;
}

.stack-area {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0.5em 0;
}

.stack-description {
    padding: 0.2em 0.4em;
    border-radius: 5px;
    font-weight: 500;
}

.project-buttons { 
    padding-top: 0.5em;
}

.live-btn {
    margin-right: 0.5em;
    background-color: #e60073;
    color: white;
}

.code-btn {
    background-color:#cccccc;
    color: #262626;
}

.live-btn,
.code-btn {
    border: 2px solid #e60073;
    padding: 0.5em 2em;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.1);
}

.live-btn:hover,
.live-btn:focus,
.code-btn:hover,
.code-btn:focus {
    background-color: #333333;
}

.code-btn:hover,
.code-btn:focus {
    color: white;
}

#wordpress-project-buttons {
    margin: 0.5em 0;
}


/* FORM AREA */
.form {
    padding: 5em 0 5em 0;
}

form {
    display: flex;
    flex-direction: column;  
    max-width: 400px;
    margin: 0 auto;
    width: 90%; 
}

.form-text-top {
    text-align: center;
    width: 1000px;
    max-width: 90%;
    margin: 0 auto;
    font-weight: 700;
}

.form-text-bottom {
    text-align: center;
    width: 1000px;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 1em;
}

.smedia-icons {
    width: 1000px;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0.5em;
} 

input,
textarea {
    border-radius: 50px;
    border: 0;
    outline: none;
    background-color:#e60073;
}

input {
    margin-bottom: 3em;
    padding: 2em;
    text-align: inherit;
    font-family: inherit;
    font-weight: 500; 
}

textarea {
    height: 250px;
    resize: none;
    padding: 2em;
    margin-bottom: 3em;
    font-family: inherit;
}

::placeholder {
    color: white !important;
}

.submit-btn {
    margin: 0 auto;
    padding: 1em 3em;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.1);
    background-color: #333333;
    color: white;
    font-family: inherit;
    border: none;
}  

.submit-btn:hover,
.submit-btn:focus {
    background-color: #e60073;
    color: white;
    font-weight: 700;
}

#status {
    text-align: center;
}

/* FOOTER AREA */
footer {
    background-color: #333333;
    padding: 1em 0;
    text-align: center;
    color: white;
}


/* MEDIA QUERIES */
@media screen and (max-width: 480px) {
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.25rem;
    }
    p {
        font-size: 1rem;
    }
    nav {
        max-width: 100%;
    }
    nav li {
        margin: 0;
    }
    nav a {
        font-size: 0.75rem;
    }
    nav ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .name-area {
        height: 50vh;
        margin-top: 2.5em;
    }
    .name-area h1 {
        font-size: 2rem;
    }
    .name-area p {
        font-size: 0.75rem;
    }
    .icon {
        width: 75px;
        padding: 0;
    }
    .icon p {
        font-size: 0.75rem;
    }
    .projects-section {
        width: 100%;
    }
    .live-btn,
    .code-btn {
        padding: 0.2em 0.5em;
    }
    .live-btn {
        margin: 0;
    }
    input {
        padding: 1em;
    }
}