* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #290a0a;
    text-align: center;
}

h1 {
    font-size: 4rem;
    letter-spacing: 10px;
}

.my-name {
    font-family: 'Courgette', cursive;
    font-size: 5rem;
    margin-bottom: 1rem;
    letter-spacing: 10px;  	
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.my-title {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 1rem;
}

.sub-text {
    font-size: 1rem;
}

.bottom-text {
    letter-spacing: 8px;
    font-size: 1.75rem;
    font-weight: 500;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);    
}

p {
    font-size: 1.5rem;
    letter-spacing: 1px;
    line-height: 1.6;
}

.lets-meet {
    padding: 3em;
}


header {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8),rgba(255, 102, 128, 0.6)), url("Images/evieshaffer.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

/* NAVIGATION SECTION */
.nav-container {
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
    padding-top: 1em; /*how far nav-container from top*/
    display: flex;
    justify-content: space-between;
}

nav {
    /* border: 3px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    /* border: 3px solid red; */
}

nav li {
    margin-left: 5em; /*space between nav links*/
    padding: 0.5em; /*thickness of nav buttons*/
    /* border: 3px solid green; */
    border-bottom: 2px solid #290a0a;
    /* border-radius: 50px; */
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #290a0a;
    font-weight: 500;
    font-size: 1.25rem;
    /* padding: .25em 0; */
}

nav a:hover,
nav a:focus {
    color: #ff6680;

}




/* THIS AREA NEEDS FIXING!!!! */
.name-area {
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 15em;
}

.bottom-area {
    padding-top: 10rem;
}


@media (max-width: 500px) {
    .name-area {
        margin-top: 1em;
    }
}

.about {
    background-color: #fcf6f5;
}
.about-me {
    margin: 0 auto;
    /* max-width: 800px; */
    text-align: center;
    width: 90%;
    max-width: 1200px;
    padding-bottom: 6em;
}



/* FORM AREA */

.form-area {
    background-color: #ffe6e9; 
    padding-bottom: 2em;
}

.smedia-icons {
    margin-bottom: 2em;
}

input,
.submit-btn {
    border-radius: 50px;
    border: 0;
    outline: none;
}

form {
    display: flex;
    flex-direction: column;  
    max-width: 400px;
    margin: 0 auto;
    width: 90%; 

}

input {
    margin-bottom: 3em;
    text-align: inherit;
    padding: 2em;

}

.message-area {
    padding: 8em;

}

.form-text {
    padding: 2em;
    text-transform: uppercase;
    font-weight: 500;
    
}

.submit-btn {
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1em 2em;
    cursor: pointer;
    background-color: #bfbfbf;
    border-radius: 0px;
}